# 과일 개수 골라내기

> 장바구니에 아래와 같은 과일이 들어있고 과일 판별 리스트가 있습니다.

```python
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}

fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

```
> 현재 장바구니에는 과일이 몇개이고 과일이 아닌 것은 몇개인지 출력하시오.
---
```
예시 출력)
과일은 23개이고, 11개는 과일이 아닙니다..
```

In [9]:
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']
# 아래에 코드를 작성하세요.

In [11]:
fruits_num = 0
not_fruits = 0
for i in basket_items:
    if i in fruits:
        fruits_num += basket_items[i]
    else:
        not_fruits += basket_items[i]
print(f'과일은 {fruits_num}개이고, {not_fruits}개는 과일이 아닙니다..')

과일은 23개이고, 11개는 과일이 아닙니다..

# 영어 이름 출력하기 

> 영어 이름은 가운데 이름을 가지고 있는 경우가 있습니다.
>
> 가운데 이름은 대문자로 축약해서 나타내는 코드를 작성해보세요.

---
```
예시 입력)
Alice Betty Catherine Davis
```
```
예시 출력)
Alice B. C. Davis
```

In [ ]:
# 아래에 코드를 작성하세요.

In [67]:
name = input()
name_list = name.split(' ')

for i in name_list:
    if i == name_list[0] or i == name_list[len(name_list)-1]:
        print(i, end=' ')
    else:
        print(f'{i[0]}.', end=' ')

Alice Betty Catherine Davis
Alice B. C. Davis

# 구구단 출력하기
> 2단부터 9단까지 반복문을 사용하여 구구단을 출력하세요.
---
```
예시 출력)
------- [2 단] -------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

------- [3 단] -------
...
```

In [ ]:
# 아래에 코드를 작성하세요.

In [1]:
for i in range(2, 10):
    print(f'\n-------[{i} 단]-------')
    for j in range(1, 10):
        print(f'{i} X {j} = {i*j}')

-------[2 단]-------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

-------[3 단]-------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

-------[4 단]-------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

-------[5 단]-------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

-------[6 단]-------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

-------[7 단]-------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

-------[8 단]-------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

-------[9 단]-------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 달력 출력하기

> 1월 1일 월요일부터 12월 31일까지 달력을 출력하세요.

---
```
예시 출력)
         1 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31 
         2 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 

         3 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31
...
```

In [24]:
calendar = { 
        1: 31, 2: 28, 3: 31, 4: 30, 5: 31,6: 30, 
        7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31 
} 
weeks = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'] 
# 아래에 코드를 작성하세요.

In [90]:
for month in calendar:
    print(f'{month}월')
    for yoil in weeks:
        if yoil == 'Su':
            print(yoil, end ='\n')
        else:
            print(yoil, end=' ')
        
        for days in calendar:
                print(days, end=' ')

1월
Mo 1 2 3 4 5 6 7 8 9 10 11 12 Tu 1 2 3 4 5 6 7 8 9 10 11 12 We 1 2 3 4 5 6 7 8 9 10 11 12 Th 1 2 3 4 5 6 7 8 9 10 11 12 Fr 1 2 3 4 5 6 7 8 9 10 11 12 Sa 1 2 3 4 5 6 7 8 9 10 11 12 Su
1 2 3 4 5 6 7 8 9 10 11 12 2월
Mo 1 2 3 4 5 6 7 8 9 10 11 12 Tu 1 2 3 4 5 6 7 8 9 10 11 12 We 1 2 3 4 5 6 7 8 9 10 11 12 Th 1 2 3 4 5 6 7 8 9 10 11 12 Fr 1 2 3 4 5 6 7 8 9 10 11 12 Sa 1 2 3 4 5 6 7 8 9 10 11 12 Su
1 2 3 4 5 6 7 8 9 10 11 12 3월
Mo 1 2 3 4 5 6 7 8 9 10 11 12 Tu 1 2 3 4 5 6 7 8 9 10 11 12 We 1 2 3 4 5 6 7 8 9 10 11 12 Th 1 2 3 4 5 6 7 8 9 10 11 12 Fr 1 2 3 4 5 6 7 8 9 10 11 12 Sa 1 2 3 4 5 6 7 8 9 10 11 12 Su
1 2 3 4 5 6 7 8 9 10 11 12 4월
Mo 1 2 3 4 5 6 7 8 9 10 11 12 Tu 1 2 3 4 5 6 7 8 9 10 11 12 We 1 2 3 4 5 6 7 8 9 10 11 12 Th 1 2 3 4 5 6 7 8 9 10 11 12 Fr 1 2 3 4 5 6 7 8 9 10 11 12 Sa 1 2 3 4 5 6 7 8 9 10 11 12 Su
1 2 3 4 5 6 7 8 9 10 11 12 5월
Mo 1 2 3 4 5 6 7 8 9 10 11 12 Tu 1 2 3 4 5 6 7 8 9 10 11 12 We 1 2 3 4 5 6 7 8 9 10 11 12 Th 1 2 3 4 5 6 7 8 9 10 11 12 Fr 1 2 3 4 5 6 7 8 9 10 11 12 Sa 1 2 3 4 5 6 7 8 9 10 11 12 Su
1 2 3 4 5 6 7 8 9 10 11 12 6월
Mo 1 2 3 4 5 6 7 8 9 10 11 12 Tu 1 2 3 4 5 6 7 8 9 10 11 12 We 1 2 3 4 5 6 7 8 9 10 11 12 Th 1 2 3 4 5 6 7 8 9 10 11 12 Fr 1 2 3 4 5 6 7 8 9 10 11 12 Sa 1 2 3 4 5 6 7 8 9 10 11 12 Su
1 2 3 4 5 6 7 8 9 10 11 12 7월
Mo 1 2 3 4 5 6 7 8 9 10 11 12 Tu 1 2 3 4 5 6 7 8 9 10 11 12 We 1 2 3 4 5 6 7 8 9 10 11 12 Th 1 2 3 4 5 6 7 8 9 10 11 12 Fr 1 2 3 4 5 6 7 8 9 10 11 12 Sa 1 2 3 4 5 6 7 8 9 10 11 12 Su
1 2 3 4 5 6 7 8 9 10 11 12 8월
Mo 1 2 3 4 5 6 7 8 9 10 11 12 Tu 1 2 3 4 5 6 7 8 9 10 11 12 We 1 2 3 4 5 6 7 8 9 10 11 12 Th 1 2 3 4 5 6 7 8 9 10 11 12 Fr 1 2 3 4 5 6 7 8 9 10 11 12 Sa 1 2 3 4 5 6 7 8 9 10 11 12 Su
1 2 3 4 5 6 7 8 9 10 11 12 9월
Mo 1 2 3 4 5 6 7 8 9 10 11 12 Tu 1 2 3 4 5 6 7 8 9 10 11 12 We 1 2 3 4 5 6 7 8 9 10 11 12 Th 1 2 3 4 5 6 7 8 9 10 11 12 Fr 1 2 3 4 5 6 7 8 9 10 11 12 Sa 1 2 3 4 5 6 7 8 9 10 11 12 Su
1 2 3 4 5 6 7 8 9 10 11 12 10월
Mo 1 2 3 4 5 6 7 8 9 10 11 12 Tu 1 2 3 4 5 6 7 8 9 10 11 12 We 1 2 3 4 5 6 7 8 9 10 11 12 Th 1 2 3 4 5 6 7 8 9 10 11 12 Fr 1 2 3 4 5 6 7 8 9 10 11 12 Sa 1 2 3 4 5 6 7 8 9 10 11 12 Su
1 2 3 4 5 6 7 8 9 10 11 12 11월
Mo 1 2 3 4 5 6 7 8 9 10 11 12 Tu 1 2 3 4 5 6 7 8 9 10 11 12 We 1 2 3 4 5 6 7 8 9 10 11 12 Th 1 2 3 4 5 6 7 8 9 10 11 12 Fr 1 2 3 4 5 6 7 8 9 10 11 12 Sa 1 2 3 4 5 6 7 8 9 10 11 12 Su
1 2 3 4 5 6 7 8 9 10 11 12 12월
Mo 1 2 3 4 5 6 7 8 9 10 11 12 Tu 1 2 3 4 5 6 7 8 9 10 11 12 We 1 2 3 4 5 6 7 8 9 10 11 12 Th 1 2 3 4 5 6 7 8 9 10 11 12 Fr 1 2 3 4 5 6 7 8 9 10 11 12 Sa 1 2 3 4 5 6 7 8 9 10 11 12 Su
1 2 3 4 5 6 7 8 9 10 11 12

# 개인정보보호
> 사용자의 핸드폰번호를 입력 받으려고한다. 개인정보 보호를 위하여 뒷자리 4자리를 제외하고는 마스킹 처리를 하려고한다.
>
> 핸드폰번호는 010으로 시작해야하고 11자리여야한다. 핸드폰번호를 입력하지 않았다면 "핸드폰번호를 입력하세요"를 출력한다

```
예시 입력)
01012341234
예시 출력)
*******1234
```

In [ ]:
# 아래에 코드를 작성하세요.

In [66]:
num = input()
if len(num) == 11:
    num_slicing = num[7:11]
    print(f'*******{num_slicing}')
else:
    print('핸드폰번호를 입력하세요.')

01011111111
*******1111

# 정중앙
> 사용자가 입력한 문자열중 가운데 글자를 출력하라. 문자열이 짝수라면 가운데 두글자를 출력하라

In [ ]:
# 아래에 코드를 작성하세요.

In [63]:
word = input()
if len(word) % 2:
    print(word[len(word)//2])
else:
    print(word[len(word)//2-1]+word[len(word)//2])

asdb
sd

# 소수 찾기

> 조건, 반복문을 응용하여 numbers 리스트의 요소들이 소수인지 아닌지 판단하는 코드를 작성하라.

```python
numbers = [26, 39, 51, 53, 57, 79, 85]

# 출력 예시
26 는 소수가 아닙니다. 2 는 26 의 인수입니다.
39 는 소수가 아닙니다. 3 는 39 의 인수입니다.
51 는 소수가 아닙니다. 3 는 51 의 인수입니다.
53 는 소수입니다.
57 는 소수가 아닙니다. 3 는 57 의 인수입니다.
79 는 소수입니다.
85 는 소수가 아닙니다. 5 는 85 의 인수입니다.
```

In [68]:
numbers = [26, 39, 51, 53, 57, 79, 85]
# 아래에 코드를 작성하세요.

In [91]:
def prime_num(num):
    for divisor in range(2,num):
        if num % divisor is 0:
            return False
    return True

for number in numbers:
    if prime_num(number) == True:
        print(f'{number}는 소수입니다.')
    else:
        for factor in range(2,number):
                if number % factor-1 != 0:
                        print(f'{number}는 소수가 아닙니다. {factor}는 {number}의 인수입니다.')
                        break

26는 소수가 아닙니다. 2는 26의 인수입니다.
39는 소수가 아닙니다. 3는 39의 인수입니다.
51는 소수가 아닙니다. 3는 51의 인수입니다.
53는 소수입니다.
57는 소수가 아닙니다. 3는 57의 인수입니다.
79는 소수입니다.
85는 소수가 아닙니다. 5는 85의 인수입니다.